@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pokemon';
  src: url('/fonts/Pokemon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
